
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://nerds.co/wp-content/uploads/2017/08/banner-e1502674836569.png')">
  <div class="container">
    <h1>Would you like a drink?</h1>
    <p>Create your customised drink.</p>
    <a class="btn btn-flat" href="#">Create your drink</a>
  </div>
</div>
