.btn-gold {
  padding: 10px;
  color:  black;
  font-family: 'Roboto Mono';
  border: 2px, solid, white;
  background-color: #CCB377;
  opacity: 0.8;
}

.btn-gold:hover {
  text-decoration:none;
  color: black;
  opacity: 1;
}
