
.card {
  overflow: hidden;
  background: #CCB377;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
  margin: 20px;

}

.card h2 {
  font-size: 18px;
  color: black;
  margin: 0;
}

.card p {
  font-size: 12px;
  opacity: 0.7;
  margin: 0;
}

.card-bottom {
  padding: 10px 10px 5px 10px;
}

.drink-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.black {
  color: black;
}
